@page
@model JagdeepSingh_webPage.Pages.BlogpostModel
@{
    ViewData["Title"] = "Blog Post";
}
<article>
    <section class="text-center">
        <h1 class="font-weight-bold">Blog Post</h1>
    </section>
    <section>
        <h2>Title: Bandi Chhor Divas </h2>
        <h5> Jagdeep Singh, Nov 7, 2020</h5>
        <header class=" text-center">
            <img src="https://static.theprint.in/wp-content/uploads/2019/10/Sikh-guru_edited.jpg " />
            <h6>
                Moment when Guru Hargobind Singh released with 52 kings from prison
            </h6>
        </header>
        <p>
            The occasion of Bandi Chhor Divas first took place in autumn of 1619 and is now celebrated in October or November; the date changes according to the lunar calendar.

            Guru Hargobind was imprisoned by Mughal emperor Jahangir for his rejection of forced Islamic conversion and the Mughal regime overall. Guru Ji was sent to Gwalior Fort and was held there for a few months. Gwalior Fort (Gwalior Qila) was one of the largest forts in India and the Mughals held their most powerful prisoners there. The majority of these prisoners were kings, princes and leaders who were either rebellious or uncooperative to the imposition of Islam and forced conversions by Jahangir.

            It is believed that Jahangir eventually became very sick. One of his most important advisors, Sufi Saint Mian Mir who admired both Guru Hargobind and his father Guru Arjun Dev Ji, advised Jahangir to free Guru Hargobind Sahib since imprisoning a saint was a grave sin. The Emperor then sent for Guru Ji to be released.

            However, Guru Hargobind refused, saying that he would not leave unless the other innocent prisoners were also released along with him. The Emperor initially refused this demand. He later agreed on one condition – in order to be released from the fort, each prisoner must be holding on to the Guru’s cholla (Chola is traditional dress worn by Sikhs. It is a martial attire which gives freedom of movement to a Sikh warrior. Sikh Chola is also unisex attire, and may also be decorated with heavy embroidery all over it or on the chest.) as he walked out of the prison gates. The Emperor was pleased with himself because he was sure that a mere handful would be able to fulfill this condition.

            In this case, Guru Ji commissioned his Sikh disciples to make a Cholla with 52 tassels hanging at the hem. 52 representing the number of political prisoners, many of whom were from different backgrounds, creeds and religions than that of Sikhism.

            At the appointed time, the Guru donned the heavy cholla, which stretched for yards behind him. The 52 princes each grasped a panel; 26 on the right and 26 on the left. Walking behind the Guru, careful not to let go, they stepped out into the sunlight and freedom, to the cheers of the Guru’s Sikh disciples. Since then, Guru Hargobind came to be known as Bandi (prison) Chhor (liberator), and the day of liberation is celebrated as Bandi Chhor Divas.

            Guru Hargobind returned to Amritsar on the day of Diwali. Seeing their Guru again, Sikhs lit up the city, Akal Takht and Harmandir Sahib with thousands and thousands of diyas (small lamps) and then celebrated Diwali with full festivities. For the Sikhs, the return of their Guru was as big a celebration.

            The lighting of candles is a symbol of hope and guidance: clearing of darkness and guiding one’s way back to their home from the toughest journeys endured. This day is a reminder to mankind to never fear and to always stand up to the truth, justice and equality.
        </p>
        <h3>How this occasion is celebrated </h3>
        <header class=" text-center">
            <img src="https://files.prokerala.com/news/photos/imgs/1024/splendorous-view-of-golden-temple-illuminated-115499.jpg" width=" 738" height="415"/>
            <h6>
                View from Amritsar on this occasion
            </h6>
        </header>
        <p>
            Bandi Chor Divas will be celebrated on 14 November 2020. A visit to the Golden Temple on this day would be an extraordinary experience. With thousands of candles and floating lamps, strings of lights decorating the domes, fireworks, the shabads reverberating through the premises and finally basking in the spirit of joy and festivity, there cannot be a better way to remember Guru Hargobind whose contributions in saving the lives as well as religion of his fellow inmates will never be forgotten.
        </p>
        <h6>I hope this article is helpful to you.</h6>
    </section>

</article>
